body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}

.leadersection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

.leadersection img{
    margin-top: 100px;
    width: 45%;
    height: 200px;
}

.leadersection h1{
    color:burlywood ;
    font-size: 1rem;
    padding: 10px;
    word-wrap: break-word;
    font-family:'Times New Roman', Times, serif;
}

.hero {
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    text-align: center;
    color: rgba(187, 161, 126, 0.733);
    padding: 0 2rem;
    font-family:'Times New Roman', Times, serif;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero button {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    cursor: pointer;
}

.landing-page {
    display: none;
}

.content {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

input,
button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

button {
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff1493;
}

.disclaimer {
    font-size: 0.8rem;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .leadersection {
        width: 90%;
    }

    .leadersection img {
        margin-top: 50px;
        width: 90%;
        height: auto;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .hero button {
        padding: 0.5rem 1.5rem;
    }
}

 